html {
  background-image: url(../img/bgimg.jpg);
  background-position: center;

}
section {
  padding: 35px;
}
body {
background-color: #f4f4f4;
width: 80%;
height: 2500px;
margin-left: 10%;
color: #555;
opacity: 0.97;
}

h1 {
  color:#0686E8;
  text-align: center;
}

.lead {
  color:#FFB506;
  text-align: center;
}

.sub-head {

}

.sub-head2 {

}

.self {
  margin-left:27.5%;
  width: 45%;
  border: 2px solid #0686E8;
  border-radius: 80%;
  position: static;
}

.sub-image {
  text-align: center;
}

.projects {
  background-color: #f4f4f4;
  text-align: center;
}
.projects-header {
  text-align: center;
}

.img-responsive {
  height: 200px;
  width: 300px;
  border: 2px solid #0686E8;
  border-radius: 3%;

}

.about {
  background-color: grey;
  display: inline-block;
  float: left;
}
