html {
  background-image: url(../img/bgimg.jpg);
  background-position: center;
}
section {
  padding: 35px;
}
body {
  width: 80%;
  height: 3000px;
  margin-left: 10%;
  color: #555;
}
/*********************************************************************
header
*/


h1 {
  color: #047D96;
  text-align: center;
  margin-bottom: 35px;
}

.lead {
  text-align: center;
  color: #0464AD;
  margin-bottom: 25px;
}

.sub-head {
  color: #047D96;
  margin-top: -20px;
  margin-left: 23%;
  margin-bottom: 10px;
}

.sub-head2 {
  color: #047D96;
  margin-left: 46%;
  padding-bottom: 25px;
}

.self {
  margin-left:27.5%;
  width: 45%;
  border: 2px solid #0464AD;
  border-radius: 80%;
  position: static;
  margin-bottom: 25px;
}

.sub-image {
  text-align: center;
}
/******************************************************************************
Projects section
*/
.projects {
  background-color: #f4f4f4;
  text-align: center;
}
.projects-header {
  text-align: center;
  margin-bottom: 45px;
  color: #047D96;
}

ol {
  letter-spacing: 2px;
}

a h3 {
  color: #0464AD;
}

.col {
  margin-bottom: 35px;
}

.img-responsive {
  height: 200px;
  width: 300px;
  border: 2px solid #0464AD;
  border-radius: 3%;
  margin-bottom: 25px;
}


.about-self {
  float: left;
  width: 45%;
  border: 2px solid #0464AD;
  border-radius: 4%;
  position: static;
  margin-bottom: 35px;
  margin-right: 45px;
}

.about-list{
  color: #0464AD;
  font-size: 20px;
  font-style: oblique;
  letter-spacing: 4px;
  padding-left: 300px;

}

.about {
 letter-spacing: 2px;

}
