html {
  background-image: url(../img/bgimg.jpg);
  background-position: center;
}
section {
  padding: 35px;
}
body {
background-color: #0651ff;
width: 80%;
height: 2500px;
margin-left: 10%;

}

h1 {
  color:#0686E8;
  text-align: center;
}

.lead {
  color:#FFB506;
  text-align: center;
}

.sub-head {

}

.sub-head2 {

}

.self {
  margin-left:27.5%;
  width: 45%;
  border: 3px solid #0686E8;
  border-radius: 80%;
  position: static;
}

.sub-image {
  text-align: center;
}

.projects {
  text-align: center;
}
.projects-header {
  text-align: center;
}

.img-responsive {
  height: 200px;
  width: 300px;
}

.about {
  background-color: grey;
  display: inline-block;
  float: left;
}
